<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h2 class="text-center">MES INFOMATIONS PERSONNELLES</h2>
      </div>
      <table class="table col-md-8 mx-auto">
        <tr>
          <th>Prénom</th>
          <td>{{infos.FirstName}}</td>
        </tr>
        <tr>
          <th>Nom</th>
          <td>{{ infos.LastName }}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{ infos.Age }}</td>
        </tr>
        <tr>
            <th>Situation familiale</th>
            <td>{{ infos.Family }}</td>
        </tr>
        <tr>
            <th>Rôle</th>
            <td>{{ infos.Role }}</td>
        </tr>
        
      </table>
     
      <button type="submit" class="btn btn-primary mx-auto d-block" (click)="modifier()">Modifier</button>
      
    </div>
  </div>
