<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h2 class="text-center">MES INFOMATIONS PERSONNELLES</h2>
      </div>
      <table class="table col-md-6 mx-auto">
        <tr>
          <th>Prénom</th>
          <td>{{auth.getUserDetails()?.FirstName}}</td>
        </tr>
        <tr>
          <th>Nom</th>
          <td>{{ auth.getUserDetails()?.LastName }}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{ auth.getUserDetails()?.Age }}</td>
        </tr>
        <tr>
            <th>Situation familiale</th>
            <td>{{ auth.getUserDetails()?.Family }}</td>
        </tr>
        <tr>
            <th>Rôle</th>
            <td>{{ auth.getUserDetails()?.Role }}</td>
        </tr>
        <center><button type="submit" class="btn btn-primary" >Modifier</button></center>
      </table>
      
    </div>
  </div>
